<div
  [ngStyle]="{
    height: '80vh',
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    justifyContent: 'center'
  }"
>
  <p
    [ngStyle]="{
      fontSize: '30px',
      fontWeight: '500',
      marginBottom: '70px'
    }"
  >
    InnChats
  </p>
  <p
    [ngStyle]="{
      fontSize: '130%',
      fontWeight: 'bold'
    }"
  >
    Welcome Back!
  </p>
  <p
    [ngStyle]="{
      fontSize: '90%',
      fontWeight: '300'
    }"
  >
    Enter your credentials to enter this app
  </p>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()"
    [ngStyle]="{
      display: 'grid',
      justifyContent: 'center',
      gap: '10px',
      marginBottom: '8px',
    }"
  >
    <input
      type="text"
      name="username"
      placeholder="Enter username"
      formControlName="username"
      [ngStyle]="{
        maxWidth: '100%',
        backgroundColor: '#fff',
        border: '1px solid #ccc',
        borderRadius: '5px',
        padding: '6px 10px',
        color: '#333',
      }"
    />
    <div
      *ngIf="
        loginForm.get('username')?.touched && loginForm.get('username')?.invalid
      "
      class="error-message"
    >
      *username is required
    </div>
    <input
      type="password"
      name="password"
      placeholder="Enter password"
      formControlName="password"
      [ngStyle]="{
        maxWidth: '100%',
        backgroundColor: '#fff',
        border: '1px solid #ccc',
        borderRadius: '5px',
        padding: '6px 10px',
        color: '#333',
      }"
    />
    <div
      *ngIf="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
      class="error-message"
    >
      *password is required
    </div>
    <button
      (click)="handleLogin()"
      matRipple
      [matRippleColor]="'rgba(0,0,0,0.1)'"
      class="inn-button mat-px-10"
      [ngStyle]="{
        width: '100%',
        justifySelf: 'start',
        cursor: 'pointer'
      }"
    >
      Login
    </button>
    <a routerLink="/auth/signup">Don't have an account?</a>
  </form>
  <div
    [ngStyle]="{
      display: 'flex',
      alignItems: 'center',
      width: '80%',
      margin: '16px 0'
    }"
  >
    <hr
      [ngStyle]="{
        flexGrow: 2,
        border: 'none',
        borderTop: '1px solid #ccc'
      }"
    />
    <span
      [ngStyle]="{
        margin: '0 12px',
        color: '#999',
      }"
    >
      or continue with
    </span>
    <hr
      [ngStyle]="{
        flexGrow: 2,
        border: 'none',
        borderTop: '1px solid #ccc'
      }"
    />
  </div>
  <button
    matRipple
    class="google-button mat-px-10"
    [ngStyle]="{
      marginTop: '8px',
      justifySelf: 'center',
      width: '100%',
      cursor: 'pointer',
      display: 'flex',
      alignItems: 'center',
      justifyContent: 'center',
      gap: '8px',
      padding: '0 20px',
      height: '32px'
    }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 48 48"
    >
      <path
        fill="#FFC107"
        d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
      ></path>
      <path
        fill="#FF3D00"
        d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
      ></path>
      <path
        fill="#4CAF50"
        d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
      ></path>
      <path
        fill="#1976D2"
        d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
      ></path>
    </svg>
    <span>Continue with Google</span>
  </button>
  <p
    [ngStyle]="{
      marginTop: '14px',
      width: '100%',
      maxWidth: '300px',
      justifySelf: 'center',
      textAlign: 'center',
      fontWeight: '100',
      fontSize: '12px',
      lineHeight: '1.4',
      wordWrap: 'break-word'
    }"
  >
    By clicking continue, you agree to our
    <strong [ngStyle]="{ textDecoration: 'underline', cursor: 'pointer' }"
      >Terms of Service</strong
    >
    and
    <strong [ngStyle]="{ textDecoration: 'underline', cursor: 'pointer' }"
      >Privacy Policy ?</strong
    >
  </p>
</div>
