.chat-container {
  width: 99.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(250, 252, 255);
  border-right: 1.5px solid #dedede;
  border-left: 1.5px solid #dedede;
}

.chat-box-header {
  padding: 10px 0px 10px 16px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 2%;
  border-bottom: 2px solid #dedede;
}

.chat-messages {
  flex: 100px; /* take all available space */
  overflow-y: auto; /* this makes it scrollable */
  background: #fff;
  scrollbar-width: none;
}
.chat-box-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.send-icon {
  cursor: pointer;
  width: 34px;
  height: 30px;
  /* border-radius: 50%; */
  box-shadow: 0px 0px 2.5px 0.5px #828282;
}

.usersMessage {
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: #ffe55e;
  width: max-content;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.friendsMessage {
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: #e0e0e0;
  width: max-content;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.message-container-user {
  display: flex;
  justify-content: flex-end; /* Pushes to the right */
  padding: 2px 10px;
}

.message-container-friend {
  display: flex;
  justify-content: flex-start; /* Pushes to the left */
  padding: 2px 10px;
}
