/* styles.css or component CSS */
.inn-button {
  background-color: #ffd918;
  border: none;
  box-shadow: 0px 0px 2.5px 0.5px #828282;
  border-radius: 6px;
  padding: 0 130px;
  font-family: "Roboto", Arial, sans-serif;
  height: 30px;
}

input:focus {
  outline: none;
  border-color: #000000a6;
  box-shadow: 0 0 0 1px rgba(73, 73, 73, 0.5);
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.google-button {
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 2.5px 0.5px #828282;
  border-radius: 6px;
  padding: 0 50px;
  font-family: "Roboto", Arial, sans-serif;
  cursor: pointer;
}

.error-message {
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: -4px;
  color: red;
}
.profile-pic-upload {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;
  width: 280px; /* increased width */
  height: 10px; /* decreased height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

.profile-pic-upload.has-preview {
  border-color: #007bff;
  background-color: #e9f2ff;
}

.profile-pic-upload img {
  width: 50px; /* smaller image width */
  height: 50px; /* smaller image height */
  object-fit: cover;
  border-radius: 50%;
}

.change-text {
  position: absolute;
  bottom: 5px;
  width: 100%;
  font-size: 12px;
  color: #007bff;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.7);
}
