<div
  [ngStyle]="{
    padding: '0px 0px 0px 10px',
    borderRadius: '10%',
  }"
>
  <div class="dialog-header">
    <span>Add User</span>
    <button mat-icon-button (click)="closeDialog()">X</button>
  </div>

  <input
    [(ngModel)]="searchTermUsername"
    (input)="onSearchTermChange()"
    placeholder="Search users..."
    class="search-input"
  />

  <div class="scroll-container">
    <ul
      *ngIf="filteredUsers && filteredUsers?.length; else noFilteredUsers"
      class="newFriendSuggestionList"
    >
      <li *ngFor="let user of filteredUsers">
        <img [src]="user.profilePic" class="avatar" />
        <span
          >{{ user.fullName }}
          <p [ngStyle]="{ color: 'gray' }">({{ user.username }})</p></span
        >
        <button
          *ngIf="user?.alreadyRequested != 1"
          (click)="addFriend(user._id)"
        >
          Send Request
        </button>

        <button *ngIf="user?.alreadyRequested == 1" class="button-disabled">
          Request Sent
        </button>
      </li>
    </ul>
    <ng-template #noFilteredUsers> No Results </ng-template>
  </div>
</div>
