<div
  [ngStyle]="{
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
  }"
  class="bar-container"
>
  <div *ngIf="userData; else noUserData" class="user">
    <img
      [src]="userData.profilePic"
      [ngStyle]="{ borderRadius: '50%', marginX: '50px' }"
      class="user-profile-pic"
    />
    <strong>{{ userData?.fullName }}</strong>
    <button
      matRipple
      [matRippleColor]="'rgba(0,0,0,0.1)'"
      class="inn-button mat-px-10"
    >
      Edit Profile
    </button>
  </div>
  <ng-template #noUserData>
    <p
      [ngStyle]="{
        marginTop: '350px',
        fontWeight: 'semi-bold',
        fontSize: '20px',
        color: '#777'
      }"
    >
      No preivew
    </p>
  </ng-template>
  <button
    (click)="handleLogout()"
    matRipple
    [matRippleColor]="'#545352'"
    class="logout-btn"
    [ngStyle]="{
      width: '80%',
      display: 'flex',
      flexDirection: 'row',
      justifyContent: 'center',
      alignItems: 'center',
      cursor: 'pointer',
    }"
  >
    Logout
  </button>
</div>
